{% load static %}
<html>
    <head>
        <title>BLOG DE TORTUGAS</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            
            <h1><a href="/">BLOG DE TORTUGAS</a></h1>

            <p>¿QUÉ SON LAS TORTUGAS?</p>
        </div>


        <div> 
            <p>También conocidos como quelonios, las tortugas son un tipo de reptiles caracterizados por el sólido caparazón que 
                protege sus órganos vitales del que emergen la cabeza, las patas y la cola.</p>

            <p>Publicado el 22/septiembre/2022</p>
            <h2><a href="">TORTUGAS TERRESTRES</a></h2>

            <p>Las tortugas terrestres son reptiles poseen un caparazón dorsal formado por placas perfectamente estructuradas y 
                compactas que se une al plastrón (parte inferior de la coraza) a través de una pasarela lateral. Es imposible separar 
                una tortuga de su caparazón, ya que las costillas están unidas a este último.</p>
        </div>


        <div>
            <p>Publicado el 22/septiembre/2022</p>
            <h2><a href="">TORTUGAS MARINAS</a></h2>

            <p>Las tortugas marinas son grandes reptiles con pulmones que habitan los mares tropicales y subtropicales a lo largo del mundo. 
                Sus conchas se componen de una parte superior (caparazón) y una parte inferior (plastrón). Unas escamas duras 
                (llamadas escudos) cubren su caparazón y piel (menos en la tortuga baula) y el número de estos escudos y su disposición nos 
                ayudan a determinar las diferentes especies.</p>

        </div>

        {% for post in posts %} 

            <dir>
                <p> Articulo Publicado: {{ post.published_date }}</p>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </dir>    
        {% endfor %}
    </body>
</html>    